@page {
    margin: 0px 0px;
}

tr td{
    padding: 2px !important;
    margin: 0 !important;
    font-weight: bold;
}

body{
    font-size: 8pt !important;
}

@media print{
    body{
        font-size: 8pt !important;
    }
    
}