

.page-item.active span{
  color: white !important;
}

@media only screen and (max-width: 880px) {
  .fc-toolbar-chunk {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 700px) {
  .fc .fc-toolbar {
    display: block !important; 
   
  }
  .fc .fc-button-group {
    font-size: 14px !important;
  }
  
}

@media only screen and (max-width: 500px) {
  .fc .fc-toolbar {
    display: block !important; 
   
  }
  .fc .fc-button-group {
    font-size: 11px !important;
  }
  
}